//======================
//General, repeated
//======================
body {
	min-height: 97vh;
	font-size: 18px;
}

.ball {
	height: 70px;
	width: 70px;
	border-top-width: 2px;
}


//======================
//Collect page
//======================
form input {
	width: 50%;
	&:focus, &:active {
		width: 70%;
	}
}

.delete {
	height: 45px;
	width: 45px;
}

//======================
//Show page
//======================


.match {
	width: 60%;
}

.p1+.nextPlayer, .p2+.nextPlayer {
	bottom: -35px;
}

.winner {
	width: 80%;
}