//======================
//General, repeated
//======================
body {
	min-height: 97vh;
	font-size: 17px;
}

.ball {
	height: 70px;
	width: 70px;
	border-top-width: 2px;
}

//======================
//Collect page
//======================
form input {
	width: 50%;
	&:focus, &:active {
		width: 70%;
	}
}

.delete {
	height: 45px;
	width: 45px;
}

//======================
//Show page
//======================
.wholeRound {
	margin-bottom: 10%;
	h2 {
		border-top: 3px solid $color6;
		border-bottom: 3px solid $color6;
	}
}

.round {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: space-between;
}

.match {
	border-left: 1px solid $color6;
	width: 100%;
	margin: 0;
	border-top: none;
	border-bottom: none;
	&:first-child {
		border-left: none;
		border-bottom: none;
	}
	&:last-child {
		border-bottom: none;
	}
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.players {
	position: static;
	p {
		display: block;
	}
	.player {
		min-width: 0;
	}
	.player:first-child {
		position: static;
		left: 60%;
	}
	.player:last-child {
		position: static;
		right:60%;
	}
}

.plays {
	margin: 0px;
}

.bye {
	margin: 0px;
}

.p1+.nextPlayer, .p2+.nextPlayer {
	bottom: -35px;
}

.winner {
	width: 80%;
}