body {
	min-height: 97vh;
	font-size: 18px;
}

//======================
//Show page
//======================
.ball {
	height: 70px;
	width: 70px;
}

.match {
	width: 50%;
	margin: auto;
	// background: $color7;

}