//======================
//General, repeated
//======================
body {
	font-size: 24px;
}

//======================
//Collect page
//======================
form input {
	width: 45%;
	&:focus, &:active {
		width: 65%;
	}
}

ul li {
	width: 55%;
	padding:20px 0px;
}

//======================
//Show page
//======================
.ball {
	height: 85px;
	width: 85px;
	border-top-width: 3px;
	border-left-width: 2px;
}

.p1+.nextPlayer, .p2+.nextPlayer {
	bottom: -40px;
}

.match {
	width: 50%;
}

.winner {
	width: 60%;
}