//======================
//General, repeated
//======================
body {
	background-image: linear-gradient(to bottom, $opacityBackground2 0%,$opacityBackground2 100%), url("../../media/background2.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	min-height: 96vh;
	font-size: 16px;
}

h1 {
	font-size: 1.8em;
	color: $color4;
	margin: 0px;
	padding: 30px 10px 20px 10px;
	background-image: linear-gradient(to bottom, $opacityBackground1 0%,$opacityBackground1 100%), url("../../media/background1.png");
	background-size: 100% 100%;
}

h2 {
	font-size: 1.5em;
	color: $color4;
	margin-top: 1em;
	margin-bottom: 0.5em;
	&::before, &::after {
		content: "   🏓   ";
		font-size: 0.9em;
	}
}

h4 {
	font-size: 1em;
	font-style: italic;
	margin: 0px;
	padding: 20px 10px;
}

.main {
	padding: 0px 10px;
}
.button {
	font-size: 1.1em;
	display: block;
	padding: 15px 15px;
	margin: 20px auto;
	border: none;
	border-top: 5px solid $color6;
	border-radius: 1px;
	color: $color4;
	transition: all 0.2s ease-in;
	background: $color5;
	&:focus {
		outline: none;
	}
	&:hover {
		color: $color9;
	}
}

.ball {
	height: 55px;
	width: 55px;
	font-size: 1em;
	padding: 0px;
	background: $color2;
	border-top: 1px solid $color9;
	border-left: 1px solid $color9;
	border-radius: 50%;
}

.isDisabled, a.isDisabled {
	color: $color5;
	background: $color7;
	&:hover {
		color: $color5;
	}
}

a {
	text-decoration: none;
}

//======================
//Collect page
//======================
form {
	width: 80%;
	margin: auto;
	padding: 5px;
	input {
		display: block;
		width: 75%;
		margin: auto;
		padding: 10px 10px;
		font-size: 1.5em;
		text-align: center;
		color: $color4;
		background: $color5;
		border-radius: 0px;
		border: none;
		border-top: 5px solid $color6;
		border-radius: 1px;
		transition: all 0.2s ease-in-out;
		&:focus, &:active {
			width: 100%;
			color: $color8;
			background: $color7;
			outline: none;
		}
	}
}

ul {
	padding: 0px 5px;
	li {
		font-size: 1.2em;
		font-weight: bold;
		color: $color8;
		width: 60%;
		margin: 10px auto;
		padding: 10px 0px;
		border-top: 1px solid $color2;
		list-style: none;
	}
}



//======================
//Show page
//======================
.rounds {

}

.round {

}

.match {
	display: block;
	border-top: 1px solid $color2;
}

.player, .bye {
	display: inline-block;
	font-weight: bold;
}

.plays {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.players {
	position: relative;
}

.player:first-child {
	position: absolute;
	left: 65%;
}

.player:last-child {
	position: absolute;
	right: 65%;
}

.nextPlayer {
	position: absolute;
	left: 30px;
	bottom: -40px;
	font-size: 0.9em;
	font-weight: normal;
	background: $color7;
	color: $color4;
	border-radius: 50%;
	padding: 10px;
}

.questionMark {
	position: relative;
	cursor: pointer;
}

.randomise, .add, .clear {
	font-size: 1.8em;
}