//Contains variables for repeated styling used throughout
$color1: rgba(0, 0, 0, 0.93); //black
$color2: rgba(0, 0, 0, 0.6); //transparent black
$color3: rgba(255, 255, 255, 0.93); //white
$color4: rgba(255, 255, 255, 0.8); // transparent white
$color5: rgba(255, 255, 255, 0.2); // transparent white
$color6: rgba(245, 139, 0, 0.8); // orange
$color7: rgba(245, 139, 0, 0.1); // transparent orange
$color8: rgba(245, 139, 0, 0.5); // transparent orange
$color9: rgba(189, 0, 0, 1); //red

$opacityBackground1: rgba(0,0,0,0.2) 100%;
$opacityBackground2: rgba(0,0,0,0.1) 100%;