//Contains variables for repeated styling used throughout

$color1: rgba(12, 25, 255, 1); //blue
$color2: rgba(245, 139, 0, 0.8); // orange
$color3: rgba(255, 0, 0, 0.5); //red
$color4: rgba(255, 255, 255, 1); //white
$color8: rgba(0, 0, 0, 1); //black

$color5: rgba(0, 0, 0, 0.6); //transparent black
$color6: rgba(255, 255, 255, 0.8); // transparent white
$color7: rgba(245, 139, 0, 0.1); // transparent orange

$color9: rgba(255, 255, 255, 0.2); // transparent white
$color10: rgba(245, 139, 0, 0.5); // transparent orange


$opacityBackground1: rgba(0,0,0,0.3) 100%;
$opacityBackground2: rgba(0,0,0,0.2) 100%;
